@{
    ViewData["Title"] = "Home";
}

<div class="text-center my-2">
    <h1 class="display-4 my-2">Welcome to the Notebook</h1>

    <div class="align-content-center my-2">
        <a href="~/Notebook/Index" class="btn btn-outline-primary btn-lg btn-block btn-50">
            See your notes
        </a>
        </div>
    <div class="align-content-center my-2">
        <a href="~/Notebook/Create" class="btn btn-outline-primary btn-lg btn-block btn-50">
            Create new note
        </a>

    </div>
</div>
