@model Note

@{
	ViewBag.Title = "Details";
}


<div class="card">
	<h2 class="card-header">@Html.DisplayFor(model => model.Title)</h2>
	<p class="content-view card-body">
		@Html.DisplayFor(model => model.Content)
	</p>

	<dl class="card-footer mb-2">
		<dd>Created: @Html.DisplayFor(model => model.DateCreated)</dd>
		<dd>Updated: @Html.DisplayFor(model => model.DateUpdated)</dd>
	</dl>
</div>

<div class=" my-2">

	<a href="~/Notebook/Index" class="btn btn-primary btn-view">
		Back to list
	</a>

	<a href="~/Notebook/Edit/@Model.Id" class="btn btn-primary btn-view">
		Edit
	</a>

	<a href="~/Notebook/Delete/@Model.Id" class="btn btn-danger  btn-view">
		Delete
	</a>

</div>